<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net45" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Threading.Tasks" version="3.1.1" targetFramework="net35" />
  <package id="System.Threading.Tasks.Unofficial" version="3.1" targetFramework="net35" />
</packages>